@font-face {
    font-family: 'Irish Grover';
    src: url('./fonts/IrishGrover-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('TrueType');
}

@tailwind base;
@tailwind components;
@tailwind utilities;